/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --subtitle-color: #353430;
  --heading-color: #353430;
  --subheading-color: #353430;
  --titles-decor: #ff8dcb;
  --button-border: rgba(53, 52, 48, 0.4);
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --subtitle-color: #353430;
  --heading-color: #353430;
  --subheading-color: #353430;
  --titles-decor: #ff8dcb;
  --button-border: rgba(53, 52, 48, 0.4);
  }

  .theme-light .header__rec {
    display: none;
  }
}
