/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
a.accent-text {
  text-decoration: none;
  color: var(--text-color, #f1b2ce);
  text-shadow: var(--titles-decor, #ff0070) 2px 2px;
}

a.accent-text:hover {
  border-bottom: 1px solid var(--text-color, #F1B2CE);
}

a.accent-text:focus-visible {
  outline: none;
  border: 1px solid var(--text-color, #f1b2ce);
}

.page {
  font-family: var(--main-font), monospace;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: 18px;
  background-color: var(--bg-color, #000028);
  color: var(--text-color, #F1B2CE);
}

.header {
  position: relative;
  min-height: 668px;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  margin: 10px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--heading-color, #ff0070);
  border-right: 1px solid var(--heading-color, #ff0070);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--heading-color, #ff0070);
  border-left: 1px solid var(--heading-color, #ff0070);
}

.header__rec {
  position: absolute;
  right: 28px;
  text-transform: uppercase;
  color: var(--heading-color, #ff0070);
}

.header__rec::after {
  content: "";
  position: absolute;
  margin: 7px;
  margin-left: 10px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--heading-color, #ff0070);
  box-shadow: 0 0 4px 2px var(--titles-decor, #ff0070)
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.header__theme-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 70px;
  min-height: 26px;
  background-color: transparent;
  border: 0;
  text-transform: lowercase;
  font-size: 18px;
  font-family: var(--main-font);
  padding-bottom: 5px;
  cursor: pointer;
  color: var(--heading-color, #ff0070);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-border);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--heading-color, #ff0070);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--heading-color, #ff0070);
}

.title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  align-self: center;
  color: var(--title-color, #db00ff);
  text-shadow: 4px 4px 0 var(--titles-decor, #ff0070);
}

.subtitle {
  display: block;
  font-size: 18px;
  font-weight: 700;
  justify-self: end;
  align-self: center;
  max-width: 364px;
  color: var(--subtitle-color, #000028);
}

.content {
  margin: 10px;
}

.content__section {
  margin-block-start: 50px;
}

.content__section:first-of-type {
  margin-block-start: 40px;
}

.content__section-heading {
  font-size: 18px;
  color: var(--heading-color, #ff0070);
}

.content__section-focus {
  display: grid;
  gap: 20px;
}

.content__section-article {
  display: grid;
  gap: 10px;
}

.content__section-concentrate {
  display: grid;
  gap: 20px;
}

.content__section-fish {
  display: grid;
  gap: 20px;
}

.content__section-fish .content__section-heading {
  grid-row: span 2;
}

.content__section-subheading {
  font-size: 18px;
  color: var(--subheading-color, #000028);
}

.title-decor {
  background-color: var(--titles-decor, #ff0070);
}

.content__section-subheading-thin {
  font-weight: 400;
}

.content__section-pics {
  display: grid;
  gap: 10px;
}

.content__section-gallery {
  display: grid;
  gap: 10px;
}

.content__section-gallery-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  min-height: 668px;
  margin-block-start: 40px;
  margin: 10px;
}

.footer__text {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color, #db00ff);
  text-shadow: 2px 2px 0 var(--titles-decor, #ff0070);
}

@media (width >= 768px) {
  .header {
    margin: 20px 20px 20px 0;
  }

  .decorated-zone::after {
    left: 20px;
  }

  .title,
  .footer__text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .content {
    margin: 20px;
  }

  .content__section {
    margin-block-start: 80px;
  }

  .content__section:first-of-type {
    margin-block-start: 60px;
  }

  .content__section-focus {
    grid-template-columns: 1fr 2fr;
  }

  .content__section-focus .content__section-article {
    grid-column-start: 2;
  }

  .content__section-concentrate .content__section-heading {
    max-width: 236px;
  }

  .content__section-fish {
    grid-template-columns: 1fr 2fr;
  }

  .content__section-fish .content__section-article {
    grid-column-start: 2;
  }

  .content__section-pics {
    gap: 20px;
  }

  .content__section-gallery {
    gap: 20px;
    grid-template-areas:
      "top top right "
      "left center right"
      "left bottom bottom";
  }

  .img-sunset {
    grid-area: top;
  }

  .img-icecream {
    grid-area: right;
  }

  .img-tape {
    grid-area: left;
  }

  .img-books {
    grid-area: center;
  }

  .img-street {
    grid-area: bottom;
  }

  .footer {
    margin: 20px;
    margin-block-start: 60px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: auto;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .subtitle {
    max-width: 491px;
  }

  .content__section-concentrate .content__section-heading {
    grid-column: span 3;
    max-width: 315px;
  }

  .content__section-concentrate {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }
}
